@font-face {
	font-family: "Akkurat";
	font-weight: 700;
	src: url("../fonts/lineto-akkurat-pro-bold.eot") format("eot"),
	     url("../fonts/lineto-akkurat-pro-bold.woff") format("woff")
}

@font-face {
	font-family: "Akkurat";
	font-weight: 400;
	src: url("../fonts/lineto-akkurat-pro-regular.eot") format("eot"),
	     url("../fonts/lineto-akkurat-pro-regular.woff") format("woff")
}

@font-face {
	font-family: "Akkurat";
	font-weight: 200;
	src: url("../fonts/lineto-akkurat-pro-light.eot") format("eot"),
	     url("../fonts/lineto-akkurat-pro-light.woff") format("woff")
}


// GLOBAL


html {
	font-size: 10px;
}

body {
	font-family: "Akkurat";
}

.fontXS {
	font-size: 1.1rem;
}

.fontSM {
	font-size: 1.4rem;
	font-weight: 700;
}

.fontMD {
	font-size: 1.6rem;
}

.fontLA {
	font-size: 3.6rem;
	font-weight: 200;
}

.fontLA-2 {
	font-size: 4rem;
	font-weight: 200;
}

.fontXL {
	font-size: 4.8rem;
	font-weight: 200;
}


// LINKS


.menu__links, .menu__btn {
	@extend .fontSM;
	color: #fff;
	@media screen and (min-width: $tablet) {
		&:hover {
			text-decoration: none;
			color: $grey2;
		}
	}
}

.hero__btn, .products__btn, .read-more__btn, .reservation__btn, .get-in-touch__btn, .contact__btn, .blog__btn {
	@extend .fontXS;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	@media screen and (min-width: $tablet) {
		&:hover {
			text-decoration: none;
			color: $grey4;
		}
	}
}

.read-more__btn, .reservation__btn {
	@media screen and (min-width: $tablet) {
		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}

.footer-menu__links {
	@extend .fontXS;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	@media screen and (min-width: $tablet) {
		&:hover {
			text-decoration: none;
			color: $grey2;
		}
	}
}

.get-in-touch__socials-links {
	@extend .fontMD;
	color: #fff;
	@media screen and (min-width: $tablet) {
		&:hover {
			text-decoration: none;
			color: $grey2;
		}
	}
}

.blog__author, .categories__links {
	&:hover {
		color: $grey2;
	}
	@media screen and (min-width: $tablet){
		&:hover {
			color: $grey4;
		}
	}
}

.categories__links {
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
	color: $grey2;
	letter-spacing: 1px;
	line-height: 2.4rem;
}

.recent__links {
	@extend .fontSM;
	letter-spacing: 1px;
	color: #000;
	line-height: 1.8rem;

	&:hover {
		color: #000;
	}
	@media screen and (min-width: $tablet){
		&:hover {
			color: $grey2;
		}
	}
}


// TITLES


.hero__headline {
	@extend .fontLA;
	line-height: 3.8rem;
	color: $grey1;
}

.hero__headline--strong {
	@extend .fontXL;
	color: #fff;
}

.products__name, .read-more__title, .reservation__title, .contact-page .hero__headline, .blog-page .hero__headline, .FlickR__title, .google__title {
	font-size: 2.4rem;
	font-weight: 200;
	color: #fff;
	@media screen and (min-width: $desktop) {
		font-size: 4rem;
	}
}

.blog-page .hero__headline {
	line-height: 3rem;
	@media screen and (min-width: $desktop)  {
		line-height: 4.5rem;
	}
}

.FlickR__title, .google__title {
	color: #000;
}

.how-it-works__title, .products__title, .why-orison__title, .contact-page .hero__headline--strong {
	@extend .fontMD;
	font-weight: 700;
	color: $grey2;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.contact-page .hero__headline--strong {
	font-size: 1.6rem;
}

.why-orison__subtitle {
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 200;
	color: $grey4;
	@media screen and (min-width: $desktop) {
		font-size: 2.8rem;
		line-height: 4.8rem;
	}
}

.features__title {
	@extend .fontSM;
	color: $grey4;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.reservation__subtitle {
	font-size: 2rem;
	font-weight: 400;
	color: $grey1;
}

.blog__title {
	font-size: 2.4rem;
	font-weight: 700;
}

.blog__date, .blog__author {
	@extend .fontSM;
	color: $grey2;
	font-weight: 400;
}

.blog-page .hero__date {
	@extend .fontMD;
	color: #fff;
}

.blog-full__title {
	@extend .fontMD;
	font-weight: 400;
	color: #000;
	line-height: 3rem;
	text-transform: uppercase;
	text-align: center;
}


// TEXT


.how-it-works__text {
	font-size: 2rem;
	font-weight: 200;
	line-height: 3rem;
	color: #fff;
	@media screen and (min-width: $desktop) {
		font-size: 2.8rem;
		line-height: 4.8rem;
	}
}

.products__text {
	@extend .fontMD;
	color: $grey1;
}

.features__text, .read-more__text {
	@extend .fontMD;
	font-weight: 200;
	color: $grey5;
}

.read-more__text {
	color: $grey1;
}

.press__text, .blog__intro {
	@extend .fontMD;
	font-weight: 200;
	color: #000;
}

.blog__intro {
	line-height: 3rem;
}

.get-in-touch__copyright {
	@extend .fontSM;
	font-weight: 200;
	color: $grey1;
}

.recent__date {
	font-size: 1.2rem;
	color: $grey1;
}

.twitter__post {
	@extend .fontMD;
	color: #000;
	line-height: 1.8rem;
}


// FORM


.get-in-touch__label {
	font-size: .8rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.get-in-touch__email::placeholder, .get-in-touch__email {
	font-size: 1.1rem;
	color: $grey1;
}

.get-in-touch__email::placeholder {
	color: rgba($grey1, .5);
}

.contact__form *::placeholder {
	font-size: 1.5rem;
	font-weight: 700;
	color: rgba($grey1, .5);
}

.contact__form input, .contact__form textarea, {
	@extend .fontMD;
}

.contact__btn {
	font-size: 1.4rem;
}


.search__bar::placeholder, .categories__title {
	font-size: 1.2rem;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1.5px;
}

.search__bar {
	@extend .fontSM;
	color: #000;
	font-weight: 400;
	letter-spacing: 1.5px;
}

.fa-search {
	@extend .fontMD;
	color: $grey2;
}
