.get-in-touch {
  background: $grey3;
  padding: 50px 20px 50px;
  text-align: center;
}

.get-in-touch__container {
  @extend .wrapper;
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

// NAV

.footer-menu {
  display: flex;
  justify-content: space-around;
  @media screen and (min-width: $desktop) {
    text-align: left;
    flex-basis: 200px;
    justify-content: space-between;
  }

  li {
    padding: 3px;
  }
}

.footer-menu__wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}


// SOCIALS


.get-in-touch__socials-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  @media screen and (min-width: $desktop) {
    padding: 0;
  }
}

.get-in-touch__socials-links {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 10px;
  text-align: center;
   i {
     margin: auto;
     height: 100%;
     line-height: 28px;
   }
}


// FORM


.get-in-touch form {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  @media screen and (min-width: $desktop) {
    text-align: left;
    flex-basis: 250px;
    justify-content: flex-start;
  }
}

.get-in-touch__label, .get-in-touch__email {
  flex-basis: 100%;
}

.get-in-touch__email {
  border: 1px solid $grey1;
  background: none;
  padding: 10px;
  margin-bottom: 5px;
}

.get-in-touch__copyright {
  display: block;
  padding: 20px;
  @media screen and (min-width: $desktop) {
    text-align: right;
    padding: 0;
  }
}

.get-in-touch__btn {
  @include transition;
  cursor: pointer !important;
}
