body {
  background: $grey4;
}

a {
  @include transition;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


// BUTTONS


.btn {
  padding: 11px 44px;
  border-radius: 50px;
  border: 1px solid #fff;
}

.hero__btn, .products__btn, .get-in-touch__btn, .contact__btn {
  @media screen and (min-width: $tablet) {
    &:hover {
      background: #fff;
    }
  }
}

.menu__btn, .get-in-touch__socials-links {
  @media screen and (min-width: $tablet) {
    &:hover {
      border: 1px solid $grey2;
    }
  }
}

.hero__btn--light, .products__btn, .get-in-touch__btn, .contact__btn, .blog__btn {
  border: 0;
  background: $grey2;
}

.read-more__btn, .reservation__btn {
  @media screen and (min-width: $tablet) {
    &:hover {
      border: 1px solid transparent;
      background: $grey2;
    }
  }
}

.blog__btn--light {
  border: 1px solid transparent;
  @media screen and (min-width: $tablet) {
    &:hover {
      border: 1px solid $grey4;
      background: none;
    }
  }
}


// INDEX - SECTIONS

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.how-it-works, .products, .press, .FlickR, .google, .blogs {
  padding: 60px 20px 45px;
}

.how-it-works__title, .products__title {
  padding-bottom: 10px;
}

.why-orison, .read-more__block {
  padding: 60px 40px 60px;
  @media screen and (min-width: $desktop){
    padding: 100px 0 130px;
  }
}

// ::: SECTION HOW IT WORKS :::


.how-it-works {
  text-align: center;
  background: $grey3;

  @media screen and (min-width: $desktop){
    height: 700px;
  }
}

.how-it-works__wrapper {
  @extend .wrapper;
  position: relative;
}

.how-it-works__video {
  max-width: 1100px;
  width: 100%;
  margin: 50px auto;

  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 300px;
    left: 0;
    margin: 0;
  }
}



// ::: SECTION PRODUCTS PRESENTATION :::


.products__wrapper {
  @extend .wrapper;
  @media screen and (min-width: $desktop) {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.products__wrapper:first-of-type {
  @media screen and (min-width: $desktop) {
    padding: 350px 0 0;
  }
}


.products__text {
  padding-bottom: 40px;
  max-width: 445px;
}

.products_photo {
  display: block;
  max-height: 400px;
  margin: 40px auto;
  @media screen and (min-width: $desktop) {
    max-height: none;
    max-width: 330px;
    margin: 40px;
  }
}

.products_photo--panel {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    margin: 0;
    max-width: 530px;
    position: relative;
    top: 40px;
    left: -50px;
  }
}


// ::: SECTION WHY ORISON :::


.why-orison {
  background: #fff;
  text-align: center;
}

.why-orison__wrapper {
  @extend .wrapper;
}

.features__logo {
  width: 85px;
  height: 85px;
  margin: 30px 0 15px;
  @media screen and (min-width: $desktop) {
    margin: 60px 0 40px;
  }
}

.features {
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-flow: wrap;
  }
}

.features__wrapper {
  @media screen and (min-width: $desktop) {
    flex-basis: 33%;
  }
}

.features__text {
  @media screen and (min-width: $desktop) {
    max-width: 250px;
    margin: 10px auto;
  }
}


// ::: SECTION READ UP :::


.read-more {
  background: $grey3;
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-flow: wrap;
    align-items: stretch;
  }
}

.read-more__block {
  padding: 60px 40px;
  @media screen and (min-width: $desktop) {
    padding: 60px 10%;
  }
  @media screen and (min-width: $desktopL) {
    width: 50%;
    padding: 20px 10%;
    display: flex;
    flex-flow: wrap;
    align-content: center;
  }
}

.read-more__block--img {
  padding: 0;
  width: 100%;
  @media screen and (min-width: $desktop) {
    width: 50%;
    align-self: flex-start;
  }
}

.read-more__text {
  padding-bottom: 30px;
}


// ::: SECTION RESERVATION :::


.reservation {
  text-align: center;
  padding: 60px 20px 70px;
}

.reservation__photo {
  width: 100%;
  max-width: 520px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;
  }
}

.reservation__subtitle {
  padding-bottom: 40px;
}


// ::: SECTION PRESS :::


.press {
  background: $grey2;
  text-align: center;
  @media screen and (min-width: $desktop) {
    padding: 100px 20px;
  }
}

.press__wrapper {
  @extend .wrapper;
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-flow: wrap;
  }
}

.press__logo {
  width: 180px;
}

.press__logo--strip {
  width: 100%;
}

.press__quote {
  padding-bottom: 50px;
  @media screen and (min-width: $desktop) {
    flex-basis: 33%;
  }
}

.press__text {
  margin-top: 40px;
}

.press__quote:last-of-type {
  padding-bottom: 100px;
}
