// NAV

.menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 25px 20px;
  background: $grey4;
  z-index: 1000;

  @media screen and (min-width: $tablet) {
    background: linear-gradient($grey4, rgba($grey4, 0));
    padding: 45px 20px 30px;
  }
}

.menu__container {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  max-width: 1100px;
  margin: 0 auto;

  @media screen and (min-width: $tablet)  {
    align-items: flex-start;
  }
}

.menu.scroll {
  background: linear-gradient($grey4, rgba($grey4, .9));

  @media screen and (min-width: $tablet)  {
    background: rgba($grey4, .9);
  }
}

.menu__logo {
  width: 120px;
  height: 20px;
}

.menu__wrapper {
  display: none;
  list-style: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-basis: 80%;
    justify-content: flex-end;
  }
}

.menu__btn {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
  }
}

.menu__burger {
  width: 16px;
  height: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu__bar {
  display: block;
  height: 3px;
  background: #fff;
}

.menu__bar--mid, .menu__bar--bot {
  margin-top: 2px;
}

.menu__elements {
  @media screen and (min-width: $tablet) {
    margin: 0 15px;
  }
}


// NAV MOBILE ON CLIC


.menu.open {

  .menu__wrapper, .menu__btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .menu__wrapper {
    order: 1;
    list-style: none;
  }
  .menu__btn {
    order: 2;
    margin-top: 20px;
  }
  .menu__elements {
    margin-top: 20px;
  }
}


// HERO


.hero {
  background: url("../img/Orison-Hero-5.jpg") center center;
  background-size: cover;
  padding: 100px 20px;
  @media screen and (min-width: $tablet) {
    padding: 250px 20px;
  }
}

.hero__container {
  max-width: 1100px;
  margin: 0 auto;
}

.hero__headline {
  width: 380px;
  padding-bottom: 40px;
}

.hero__headline--strong {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 0;
}

.hero__btn--light {
  margin-right: 5px;
}
